*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 1240px;
    margin: 0 auto;
}

header
{
    height: 80px;
}

header > .navbar
{
    height: 60px;
    padding: 10px 0;
}

header > .navbar > .nav
{
    display: grid;

    width: 800px;
    height: 100%;
    margin: 0 auto;

    text-align: center;

    grid-template-columns: auto auto auto auto auto;
}

header > .navbar > .nav > .menu
{
    line-height: 60px;

    height: 60px;
}

.menu > span
{
    font-family: ComicSansMS;
    font-size: 20px;

    color: #9b9b9b;
}

.hero
{
    display: grid;

    height: 760px;
    margin-top: 10px;

    background-image: url('../img/hero-image-2.png');
    background-size: cover;

    grid-template-columns: 180px auto 180px;
}

.sliderNavButtons
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeroSection
{
    margin-top: 270px;

    text-align: center;
}

.heroDescription > .subTitle
{
    font-family: ComicSansMS-Bold;
    font-size: 23px;

    letter-spacing: 4.2px;

    color: #fff;
}

.heroDescription > .heroTitle
{
    font-family: ComicSansMS-Bold;
    font-size: 90px;

    color: #fff;
}

.actionButton
{
    font-family: ComicSansMS-Bold;
    font-size: 14px;

    padding: 13px;

    cursor: pointer;
    text-align: center;
    letter-spacing: 2.56px;

    color: #fff;
    border: none;
    background-color: #f5a623;
}

.blogSection
{
    height: 550px;
}

.blogSectionContainer
{
    display: grid;

    margin: 115px auto;
    padding-left: 20px;
    padding-right: 20px;

    grid-template-columns: 50% 50%;
}

.textSection > .blogQuote
{
    font-family: ComicSansMS-Bold;
    font-size: 23px;

    letter-spacing: 4.2px;

    color: #4a4a4a;
}

.textSection > .blogTitle
{
    font-family: ComicSansMS-Bold;
    font-size: 48px;

    margin-top: 40px;

    letter-spacing: 2.56px;

    color: #4a4a4a;
}

.textSection
{
    width: 465px;
}
.textSection > .blogDescription
{
    font-family: ComicSansMS-Bold;
    font-size: 15px;

    margin-top: 40px;

    letter-spacing: .8px;

    color: #9b9b9b;
}



.textSection > .readMore
{
    margin-top: 40px;
}

.blogSectionContainer > .rightSection > .rightImage > img
{
    float: right;
}
.quoteSection
{
    height: 325px;

    background-image: url('../img/quote-image.png');
    background-size: cover;
}

.quoteSectionContainer
{
    padding-top: 61px;

    text-align: center;
}

.quoteSectionContainer > .bigQuote
{
    font-family: ComicSansMS-Bold;
    font-size: 48px;

    letter-spacing: 4.2px;

    color: #fff;
}

.quoteSectionContainer > .authorImage
{
    margin-top: 36px;
}

.quoteSectionContainer > .authorName
{
    font-family: ComicSansMS-Bold;
    font-size: 21px;

    margin-top: 10px;

    letter-spacing: 9.54px;

    color: #fff;
}

button:active,
button:focus,
a:active,
a:focus
{
    border: none;
    outline: 0;

    -moz-outline-style: none;
}
